# Ignorar arquivos PDF
*.pdf

# Diretórios de dependências
node_modules/

# Arquivos de configuração sensíveis
.env

# Pastas de configuração do ambiente de desenvolvimento
.angular/
.vscode/
.log
dist/