body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

footer {
    background-color: #2c5a91; /* Azul mais escuro para o rodapé */
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.main-title {
    color: #2c3e50; /* Azul profundo para o título principal */
    font-size: 40px;
    font-weight: 650;
    margin: 40px;
}

.brand-name {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
}

.brand-name:hover {
    color: #a9d8f6; /* Azul mais claro para o hover do nome da marca */
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.chat-section, .planner-section {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

#chat-box, #planner-box {
    background-color: #e8f0fa; /* Azul muito claro para a caixa de chat e planner */
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

#signin-btn {
    background-color: #b0cfee;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="text"] {
    background-color: #e8f0fa; /* Azul muito claro para a entrada de texto */
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
}

#send-btn {
    background-color: #5499c7; /* Azul intermediário para o botão de enviar */
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white; /* Adicionado cor branca para o texto do botão */
}

#send-btn:hover {
    background-color: #2980b9; /* Azul mais escuro para o hover do botão de enviar */
}
