/* Estilos específicos para a página de professores */
.professores {
    background-color: #e6e6e6;
}

.professores h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

.professores nav ul {
    list-style-type: none;
    padding: 0;
}

.professores nav ul li {
    display: inline;
    margin-right: 20px;
}

.professores nav ul li a {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.professores nav ul li a:hover {
    background-color: #0056b3;
}
