/* Estilos específicos para a página de administração */
.administracao {
    background-color: #f2e6ff;
}

.administracao h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

.administracao nav ul {
    list-style-type: none;
    padding: 0;
}

.administracao nav ul li {
    display: inline;
    margin-right: 20px;
}

.administracao nav ul li a {
    background-color: #9933ff;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}