/* Estilos específicos para a página de visitantes */
.visitantes {
    background-color: #fff0e6;
}

.visitantes h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

.visitantes nav ul {
    list-style-type: none;
    padding: 0;
}

.visitantes nav ul li {
    display: inline;
    margin-right: 20px;
}

.visitantes nav ul li a {
    background-color: #ff6600;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}