/* Estilos específicos para a página de alunos */
.alunos {
    background-color: #f2f2f2;
}

.alunos h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

.alunos nav ul {
    list-style-type: none;
    padding: 0;
}

.alunos nav ul li {
    display: inline;
    margin-right: 20px;
}

.alunos nav ul li a {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.alunos nav ul li a:hover {
    background-color: #0056b3;
}
